#login-input{
    margin-top: 40px;
    padding: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
body{
    padding: 50px;
}
#transition-area{
    display: none;
}
.status{
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
}
.diposit{
    background-color:#27ae60;
}
.withdraw{
    background-color: #2c3e50;
    color: rgba(245, 245, 245, 0.89);
}
.balance{
    background-color: orange;
}
.transition-box{
    box-shadow: 5px 5px 10px gray;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
}